<div class="container">
    <ul>
        <li><a href="/home/AddCandidate">Add Candidate</a></li>
        <li><a href="/home/Pending">Pending</a></li>
        <li><a href="/home/Confirmed">Confirmed</a></li>
        <li><a href="/home/Refused">Refused</a></li>
    </ul>
</div>
